---
import { ClientRouter } from "astro:transitions"

import type { Currency } from "@utils/stripe"
import GlobalStyles from "@components/GlobalStyles.astro"
import NavigationLayout from "./NavigationLayout.astro"

const ga4TrackingID: string = import.meta.env.GA4_TRACKING_ID
const canonicalURL = new URL(Astro.url.pathname, Astro.site)

function removeHtmlExtension(url: string) {
    if (url.endsWith(".html")) {
        return url.slice(0, -5)
    }
    if (url.endsWith("/")) {
        return url.slice(0, -1)
    }
    return url
}

const cleanedUrl = removeHtmlExtension(canonicalURL.href)

interface Props {
    title: string
    description: string
    image?: string
    tags?: string[]
    type?: "website" | "product"
    amount?: string
    currency?: Currency
    darkTheme?: boolean
    hideFooter?: boolean
    newsletter?: boolean
    noIndex?: boolean
}

const {
    title,
    description,
    image,
    tags = [],
    type = "website",
    amount,
    currency = "gbp",
    darkTheme = false,
    hideFooter = false,
    newsletter = false,
    noIndex = false,
} = Astro.props
---

<!doctype html>
<html lang="en">
    <head>
        <link rel="sitemap" href="/sitemap.xml" />
        <meta charset="UTF-8" />
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
        <!-- <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Nunito:wght@500;700&display=swap"
        /> -->
        <title>{title}</title>

        {noIndex ? <meta name="robots" content="noindex, nofollow" /> : null}

        <meta name="keywords" content={tags.join(", ")} />
        {image ? <meta name="image" content={image} /> : null}

        <!-- Open Graph Meta Tags -->
        <link rel="canonical" href={cleanedUrl} />
        <meta property="og:url" content={cleanedUrl} />
        <meta property="og:type" content={type} />
        <meta property="og:title" content={title} />
        <meta property="og:description" content={description} />
        {image ? <meta property="og:image" content={image} /> : null}
        <meta property="og:site_name" content="Andrea Diotallevi Art" />
        <meta property="og:locale" content="en_GB" />

        {
            type === "product" && amount ? (
                <>
                    <meta property="og:price:amount" content={amount} />
                    <meta
                        property="og:price:currency"
                        content={currency.toUpperCase()}
                    />
                    <meta
                        property="og:availability"
                        content="available for order"
                    />
                    <meta property="product:condition" content="new" />
                    <meta property="product:category" content="500044" />
                </>
            ) : null
        }

        <!-- Twitter Card Meta Tags -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:creator" content="@adiotalleviart" />
        <meta name="twitter:title" content={title} />
        <meta name="twitter:description" content={description} />
        {image ? <meta name="twitter:image" content={image} /> : null}

        <!-- Google Site Verification -->
        <meta
            name="google-site-verification"
            content="L9kVJc3DVgxLFGpwKd4inoCjGO9kEnixH9fUaC4DEYY"
        />
        <!-- Google tag (gtag.js) -->
        <script
            is:inline
            src=`https://www.googletagmanager.com/gtag/js?id=${ga4TrackingID}`
        ></script>
        <script is:inline define:vars={{ ga4TrackingID }}>
            document.addEventListener("astro:page-load", () => {
                window.dataLayer = window.dataLayer || []
                window.gtag = function gtag() {
                    dataLayer.push(arguments)
                }
                window.gtag("js", new Date())
                window.gtag("config", ga4TrackingID)
            })
        </script>
        <ClientRouter />
    </head>
    <body class="min-w-[320px]">
        <GlobalStyles />
        <NavigationLayout
            darkTheme={darkTheme}
            hideFooter={hideFooter}
            newsletter={newsletter}
        >
            <slot />
        </NavigationLayout>
    </body>
</html>

<script>
    import { loadStripe, type StripeEmbeddedCheckout } from "@stripe/stripe-js"

    let checkout: StripeEmbeddedCheckout | undefined

    document.addEventListener("astro:page-load", async () => {
        const checkoutElement = document.querySelector(
            "#checkout"
        ) as HTMLElement

        if (!checkoutElement) return

        const stripe = await loadStripe(
            import.meta.env.PUBLIC_STRIPE_PUBLISHABLE_KEY
        )

        const params = new URLSearchParams(window.location.search)
        const clientSecret = params.get("client_secret")

        
        if (stripe && clientSecret && checkoutElement) {
            if (checkout) checkout.destroy()
            checkout = await stripe.initEmbeddedCheckout({ clientSecret })
            checkout.mount(checkoutElement)
        }
    })
</script>
