---
import BaseLayout from "@layouts/BaseLayout.astro"
---

<BaseLayout
    title="Cart | Andrea Diotallevi Art"
    description="Your shopping cart."
>
    <div
        id="cart-page"
        class="flex flex-col md:flex-row items-center md:items-start px-4 py-8 pt-0 md:pt-8 max-w-screen-xl mx-auto"
    >
        <h1 class="text-center text-4xl font-semibold mb-4">Your Cart</h1>
        <div id="cart-content" class="w-full text-center">
            <p id="loading" class="text-lg">Loading your cart...</p>
        </div>
    </div>
</BaseLayout>

<script>
    import { getLineItems } from "@utils/localStorage"
    import { createCheckoutSession } from "@utils/serverless"

    document.addEventListener("astro:page-load", async () => {
        const isCartPage = !!document.getElementById("cart-page")
        const cartContent = document.getElementById("cart-content")
        const loadingText = document.getElementById("loading")

        if (!isCartPage || !cartContent || !loadingText) return

        const lineItems = getLineItems()

        if (lineItems.length) {
            try {
                const session = await createCheckoutSession({
                    line_items: lineItems,
                    success_url: `${window.location.origin}/shop/checkout/success`,
                    currency: "gbp",
                })

                // Clear loading message if session fetched
                if (session?.line_items?.data) {
                    loadingText.remove()

                    // Create HTML string for line items
                    const itemsHtml = session.line_items.data
                        .map(item => {
                            return `
                        <div class="flex items-center justify-between border-b pb-4">
                            <img src="${item.price?.product.images[0] || ""}" alt="${item.price?.product.name}" class="w-16 h-16 rounded">
                            <div class="flex flex-col ml-4">
                                <p class="text-lg font-medium">${item.price?.product.name}</p>
                                <p class="text-sm">Quantity: ${item.quantity}</p>
                                <p class="text-sm">Cost: £${(item.price?.unit_amount / 100).toFixed(2)}</p>
                            </div>
                        </div>
                    `
                        })
                        .join("")

                    // Add action buttons
                    const actionButtonsHtml = `
                        <a href="/shop" class="block w-full px-4 py-3 text-white bg-black rounded-lg hover:bg-gray-800 text-center font-semibold">Add more prints to cart</a>
                        <a href="/shop/checkout?clientSecret=${session.client_secret}" class="block w-full px-4 py-3 text-white bg-black rounded-lg hover:bg-gray-800 text-center font-semibold">Continue to checkout</a>
                    `

                    // Insert items and buttons into the cart content
                    cartContent.innerHTML = `<div class="w-full space-y-6 mt-6">${itemsHtml}${actionButtonsHtml}</div>`
                } else {
                    loadingText.textContent = "Failed to load cart."
                }
            } catch (error) {
                console.error("Error creating checkout session:", error)
                loadingText.textContent = "Failed to load cart."
            }
        } else {
            loadingText.textContent = "Your cart is empty."
        }
    })
</script>
