---
import { Image } from "@unpic/astro"
import { getCollection } from "astro:content"
import BaseLayout from "@layouts/BaseLayout.astro"
import { transformImage } from "@utils/cloudinary"

const artworks = (await getCollection("artworks")).map(artwork => ({
    ...artwork.data,
    images: artwork.data.images.map(image => transformImage(image)),
}))

Astro.response.headers.set(
    "cache-control",
    "public, max-age=0, must-revalidate"
)
Astro.response.headers.set(
    "netlify-cdn-cache-control",
    "public, durable, s-maxage=31536000"
)
---

<BaseLayout
    title="Portfolio | Andrea Diotallevi Art"
    description="Experimentations with generative art patterns and algorithms as a dynamic dialogue between human and computer."
    image={artworks[0].images[0]}
    tags={[
        "Generative Art",
        "Album Covers",
        "p5.js",
        "Processing",
        "Procedural",
    ]}
    newsletter={true}
>
    <div class="max-w-screen-xl mx-auto px-4 py-8 pt-0 md:pt-8">
        <div class="text-center mb-8">
            <h1 class="text-2xl md:text-5xl font-bold mb-4 md:mb-6">
                Portfolio
            </h1>
            <p class="max-w-[600px] mx-auto">
                Experimentations with generative art patterns and algorithms as
                a dynamic dialogue between human and computer
            </p>
        </div>

        <div class="grid grid-cols-2 md:grid-cols-4 gap-4 md:gap-6">
            {
                artworks.map(artwork => (
                    <a
                        href={`/portfolio/${artwork.slug}`}
                        class="flex flex-col no-underline text-black md:hover:underline"
                    >
                        <Image
                            alt={artwork.name}
                            src={artwork.images[0]}
                            width={750}
                            height={750}
                            sizes="(max-width: 1280px) 50vw, 608px"
                        />
                        {/* <h2 class="text-2xl font-bold mt-4">
                            {artwork.name}
                        </h2> */}
                    </a>
                ))
            }
        </div>
    </div>
</BaseLayout>
