---
export const prerender = false

import { Image } from "@unpic/astro"
import BaseLayout from "@layouts/BaseLayout.astro"
import { getStripePrices } from "@utils/serverless"
import { combinedCountries, getLocalCurrency } from "@utils/currency"
import { formatCurrency } from "@utils/intl"

const prices = await getStripePrices()

const currency = getLocalCurrency(
    Astro.locals.netlify.context.geo.country?.code
)

console.log(currency)

Astro.response.headers.set("Netlify-Vary", `country=${combinedCountries}`)
Astro.response.headers.set(
    "Cache-Control",
    "public, max-age=60, s-maxage=86400"
)
---

<BaseLayout
    title="Shop | Giclée Fine Art Prints | Andrea Diotallevi Art"
    description="Archival quality giclée generative art prints, on vegan certified Hahnemühle photo rag 308gsm matte paper, delivered in a cardboard tube with recycled plastic ends."
    image={prices[0].product.images[0]}
    tags={[
        "Generative Art",
        "p5.js",
        "Processing",
        "Procedural",
        "Prints",
        "Fine Art",
        "Giclee",
        "Hahnemühle photo rag",
    ]}
>
    <div class="max-w-screen-xl mx-auto px-4 py-8">
        <div class="text-center mb-8">
            <h1 class="text-5xl font-bold mb-6">Shop</h1>
            <p class="max-w-[600px] mx-auto">
                Archival quality giclée generative art prints, on vegan
                certified Hahnemühle photo rag 308gsm matte paper, delivered in
                recycled packaging
            </p>
        </div>

        <div class="grid grid-cols-2 md:grid-cols-4 gap-4 md:gap-6">
            {
                prices.map(price => (
                    <a
                        href={`/shop/${price.product.metadata.category}/${price.product.metadata.slug}`}
                        class="flex flex-col no-underline text-black hover:underline"
                    >
                        <Image
                            alt={price.product.name}
                            src={price.product.images[0]}
                            width={1000}
                            height={1414}
                            class="w-full h-auto object-contain"
                            loading="eager"
                            fetchpriority="high"
                        />
                        <h2 class="text-2xl font-semibold mt-4">
                            {price.product.metadata.displayName}
                        </h2>
                        <p class="text-lg font-medium mt-2">
                            {formatCurrency({
                                value: price.currency_options[currency]
                                    .unit_amount,
                                currency,
                            })}
                        </p>
                    </a>
                ))
            }
        </div>
    </div>
</BaseLayout>
