---
export const prerender = false

import BackToLink from "@components/BackToLink.astro"
import BaseLayout from "@layouts/BaseLayout.astro"
import Button from "@components/Button.astro"
import Carousel from "@components/Carousel.astro"

import { getLocalCurrency, combinedCountries } from "@utils/currency"
import { formatCurrency } from "@utils/intl"
import { getStripeProducts } from "@utils/serverless"
import { type StripeProduct } from "@utils/stripe"

const { slug } = Astro.params
const products = await getStripeProducts()

const product = products.filter(product => product.metadata.slug === slug)[0]

if (!product) return Astro.redirect("/404")

const sizeToDescription: Record<StripeProduct["metadata"]["size"], string> = {
    A3: "A3 (297 x 420 mm)",
    A2: "A2 (420 x 594 mm)",
    A1: "A1 (594 x 841 mm)",
    "50x70cm": "500 x 700 mm",
}

if (
    import.meta.env.CONTEXT === "production" ||
    import.meta.env.CONTEXT === "staging"
) {
    console.log(Astro.url.href)
    console.log(JSON.stringify(Astro.locals.netlify.context.geo))
}

const currency = getLocalCurrency(
    Astro.locals.netlify.context.geo.country?.code
)

Astro.response.headers.set(
    "cache-control",
    "public, max-age=0, must-revalidate"
)
Astro.response.headers.set(
    "netlify-cdn-cache-control",
    "public, durable, s-maxage=31536000"
)
Astro.response.headers.set("netlify-vary", `country=${combinedCountries}`)
Astro.response.headers.set("netlify-cache-tag", "stripe")
---

<BaseLayout
    title={`${product.metadata.displayName} | Giclée Fine Art Print | Andrea Diotallevi Art`}
    description={product.description}
    image={product.images[0]}
    type="product"
    amount={(product.default_price.unit_amount / 100).toFixed(2)}
    currency="gbp"
    tags={[
        product.metadata.displayName,
        "Generative art",
        "p5.js",
        "Processing",
        "Procedural",
        "Prints",
        "Fine art",
        "Giclee",
        "Hahnemühle photo rag",
        "Carbon neutral",
        "Free shipping",
    ]}
    newsletter={false}
>
    <div
        class="flex flex-col md:flex-row items-center md:items-start px-4 py-8 pt-0 md:pt-8 max-w-screen-xl mx-auto"
    >
        <div class="w-full md:w-1/2 mb-6 md:mb-0 md:mr-8">
            <div class="md:hidden mb-4">
                <BackToLink href="/shop" text="Back to shop" />
            </div>
            <div class="mb-4 md:hidden">
                <h1 class="text-2xl font-bold mb-1">
                    {product.metadata.displayName}
                </h1>
                <h4 class="text-sm">Part of a series of 3</h4>
            </div>
            <Carousel images={product.images} width={1429} height={2000} />
        </div>

        <form id="price-form" class="w-full md:w-1/2">
            <div class="mb-6 hidden md:block">
                <h1 class="text-5xl font-bold mb-2">
                    {product.metadata.displayName}
                </h1>
                <h4 class="font-normal">Part of a series of 3</h4>
            </div>

            <div class="space-y-6">
                <div>
                    <!-- <h2 class="text-2xl font-bold mb-2">Story</h2> -->
                    <p>
                        This series is extra special to me because it was
                        created for my friend Alessandro, who wanted bold,
                        saturated colours to bring life and energy to his dark
                        living room. Each artwork is composed by the same
                        overlapping circles that grow in size, with the
                        background hue warming up as the series progresses. The
                        transparency of the circles creates a stunning blend of
                        colours, giving the artwork depth and movement.
                    </p>
                </div>
                <div>
                    <h2 class="text-2xl font-bold mb-2">
                        <label for="price-id">Size</label>
                    </h2>
                    <select
                        id="price-id"
                        name="price-id"
                        data-currency={currency}
                        class="w-full px-3 py-3 border border-black rounded-md mb-2 font-bold appearance-none"
                    >
                        <option value={product.default_price.id}>
                            {sizeToDescription[product.metadata.size]} - {
                                formatCurrency({
                                    value: product.default_price
                                        .currency_options[currency].unit_amount,
                                    currency,
                                })
                            }
                        </option>
                    </select>
                    <p class="mb-1">
                        The image is <span class=""
                            >printed full bleed with no border</span
                        >. Any frames shown in images are for display purposes
                        only.
                    </p>
                </div>
                <div>
                    <h2 class="text-2xl font-bold mb-2">Fine art printing</h2>
                    <p>
                        I partner with
                        <a
                            href="https://uk.trustpilot.com/review/www.point101.com"
                            class="font-bold text-blue-700 hover:text-blue-500 transition-colors duration-300"
                            target="_blank">Point101</a
                        >, London's top printing service, known for their
                        exceptional quality and customer satisfaction. They use
                        <span class="">Giclée printing</span>, a premium
                        technique that sprays ink onto the paper to achieve
                        vivid, lifelike colors and incredible detail. This means
                        your print will capture every nuance of the original
                        artwork, bringing its bold, vibrant energy into your
                        home.
                    </p>
                </div>
                <div>
                    <h2 class="text-2xl font-bold mb-2">
                        Premium paper quality
                    </h2>
                    <p>
                        The print is on <span class=""
                            >Hahnemühle Photo Rag 308gsm</span
                        >, a museum-grade, acid-free cotton paper known for its
                        rich texture and depth. Its smooth, soft surface brings
                        out details and tones, giving the print a
                        three-dimensional feel. The paper's exceptional ink
                        absorption preserves colors with remarkable depth and
                        precision, ensuring they stay vibrant for over 100
                        years.
                    </p>
                </div>
                <div>
                    <h2 class="text-2xl font-bold mb-2">Framing advice</h2>
                    <p class="mb-1">
                        I recommend a <span class=""
                            >simple white frame (50x70cm)</span
                        > with a frame width no wider than 20mm. This clean style
                        lets the artwork shine, with the print fitting directly into
                        the frame — no extra mounting needed. If you're buying this
                        artwork alone (not as part of the series), you can add a
                        5cm mount and use a larger frame (60x80cm) for a bold and
                        elegant look.
                    </p>
                </div>
                <div>
                    <h2 class="text-2xl font-bold mb-2">Free shipping</h2>
                    <p>
                        I offer free shipping with top-quality packaging to
                        ensure your artwork arrives in perfect condition. The
                        print will be delivered to your doorstep in about a week
                        within the UK, and 2-3 weeks if outside the UK.
                    </p>
                </div>
                <div>
                    <h2 class="text-2xl font-bold mb-2">
                        {
                            formatCurrency({
                                value: product.default_price.currency_options[
                                    currency
                                ].unit_amount,
                                currency,
                            })
                        }
                    </h2>
                    <p>Apply promotion codes in the cart page.</p>
                </div>
                <Button
                    id="submit-button"
                    buttonText="Add to cart"
                    errorMessage="There was an error creating your session. Please try again."
                />
            </div>
        </form>
    </div>
</BaseLayout>

<script>
    import type { Currency } from "@utils/stripe"
    import { addToCart } from "@scripts/cart"

    document.addEventListener("astro:page-load", async () => {
        const priceForm = document.querySelector("#price-form") as HTMLElement

        if (!priceForm) return

        const button = priceForm.querySelector(
            "#submit-button"
        ) as HTMLButtonElement

        const spinner = priceForm.querySelector("#loading-spinner")!
        const errorMessage = priceForm.querySelector("#error-message")!

        spinner.classList.add("hidden")
        button.disabled = false

        priceForm.addEventListener("submit", async e => {
            e.preventDefault()

            button.disabled = true
            spinner.classList.remove("hidden")
            errorMessage.classList.add("hidden")

            const priceIdElement = document.querySelector(
                "#price-id"
            ) as HTMLInputElement

            const priceId = priceIdElement.value
            const currency = priceIdElement.dataset.currency as Currency

            const response = await addToCart({ priceId, currency })

            if (response?.error) {
                errorMessage.classList.remove("hidden")
                spinner.classList.add("hidden")
                button.disabled = false
                return
            }
        })
    })
</script>
