---
export const prerender = false

import BackToLink from "@components/BackToLink.astro"
import BaseLayout from "@layouts/BaseLayout.astro"
import Button from "@components/Button.astro"
import Carousel from "@components/Carousel.astro"

import { getLocalCurrency, combinedCountries } from "@utils/currency"
import { formatCurrency } from "@utils/intl"
import { getStripeProducts } from "@utils/serverless"
import { type StripeProduct } from "@utils/stripe"

const { slug } = Astro.params
const products = await getStripeProducts()

const product = products.filter(product => product.metadata.slug === slug)[0]

if (!product) return Astro.redirect("/404")

const sizeToDescription: Record<StripeProduct["metadata"]["size"], string> = {
    A3: "A3 (297 x 420 mm)",
    A2: "A2 (420 x 594 mm)",
    A1: "A1 (594 x 841 mm)",
    "50x70cm": "500 x 700 mm",
}

if (
    import.meta.env.CONTEXT === "production" ||
    import.meta.env.CONTEXT === "staging"
) {
    console.log(Astro.url.href)
    console.log(JSON.stringify(Astro.locals.netlify.context.geo))
}

const currency = getLocalCurrency(
    Astro.locals.netlify.context.geo.country?.code
)

Astro.response.headers.set(
    "cache-control",
    "public, max-age=0, must-revalidate"
)
Astro.response.headers.set(
    "netlify-cdn-cache-control",
    "public, durable, s-maxage=31536000"
)
Astro.response.headers.set("netlify-vary", `country=${combinedCountries}`)
Astro.response.headers.set("netlify-cache-tag", "stripe")
---

<BaseLayout
    title={`${product.metadata.displayName} | Giclée Fine Art Print | Andrea Diotallevi Art`}
    description={product.description}
    image={product.images[0]}
    type="product"
    amount={(product.default_price.unit_amount / 100).toFixed(2)}
    currency="gbp"
    tags={[
        product.metadata.displayName,
        "Generative art",
        "p5.js",
        "Processing",
        "Procedural",
        "Prints",
        "Fine art",
        "Giclee",
        "Hahnemühle photo rag",
        "Carbon neutral",
        "Free shipping",
    ]}
    newsletter={false}
>
    <div
        class="flex flex-col md:flex-row items-center md:items-start px-4 py-8 pt-0 md:pt-8 max-w-screen-xl mx-auto"
    >
        <div class="w-full md:w-1/2 mb-6 md:mb-0 md:mr-8">
            <div class="md:hidden mb-4">
                <BackToLink href="/shop" text="Back to shop" />
            </div>
            <div class="mb-4 md:hidden">
                <h1 class="text-2xl font-bold mb-1">
                    {product.metadata.displayName}
                </h1>
                <h4>Part of a series of 3</h4>
            </div>
            <Carousel images={product.images} width={2592} height={3337} />
        </div>

        <form id="price-form" class="w-full md:w-1/2">
            <div class="mb-6 hidden md:block">
                <h1 class="text-5xl font-bold mb-2">
                    {product.metadata.displayName}
                </h1>
                <h4 class="font-normal">Part of a series of 3</h4>
            </div>

            <div class="space-y-6">
                <div>
                    <h2 class="text-2xl font-bold mb-2">Story</h2>
                    <p>
                        This piece is extra special to me because it was created
                        for my friend Alessandro, who wanted bold, saturated
                        colours to bring life and energy to his slightly dark
                        living room. Each artwork in the series features
                        <span class="font-bold">overlapping circles</span> that grow
                        in size, with the background hue warming up as the series
                        progresses. The transparency of the circles creates a stunning
                        blend of colours, giving the artwork depth and movement.
                        It's like a glowing nebula-dynamic, vibrant, and full of
                        life.
                        <!-- "This piece is extra special to me because it was
                        created for a friend's living room - a space that needed
                        a burst of warmth and life. If your home or office feels
                        a little dim or could use a pop of color, this artwork
                        is here to transform your walls into a lively, inspiring
                        focal point. It's more than just a print; it's a piece
                        of modern art that tells a story of creativity,
                        technology, and beauty." -->
                    </p>
                </div>
                <div>
                    <h2 class="text-2xl font-bold mb-2">
                        <label for="price-id">Size</label>
                    </h2>
                    <select
                        id="price-id"
                        name="price-id"
                        data-currency={currency}
                        class="w-full px-3 py-3 border border-black rounded-md mb-2 font-bold"
                    >
                        <option value={product.default_price.id}>
                            {sizeToDescription[product.metadata.size]} - {
                                formatCurrency({
                                    value: product.default_price
                                        .currency_options[currency].unit_amount,
                                    currency,
                                })
                            }
                        </option>
                    </select>
                    <p class="mb-1">
                        The image is <span class="font-bold"
                            >printed full bleed with no border</span
                        >. Any frames shown in images are for display purposes
                        only.
                    </p>
                </div>
                <!-- {
                    [
                        {
                            header: "How This Artwork Comes to Life",
                            paragraphs: [
                                `Ever wondered how art and technology come together? This
                                piece is part of a series of 3, all created using
                                code. I use JavaScript and a library called p5.js to
                                guide the computer in generating the design. Think of it
                                as a creative conversation between me and the machine—I
                                set the rules, and the computer brings them to life.`,
                            ],
                        },
                    ].map(
                        ({
                            header,
                            paragraphs,
                        }: {
                            header: string
                            paragraphs: string[]
                        }) => (
                            <div>
                                <h2 class="text-2xl font-bold mb-2">
                                    {header}
                                </h2>
                                {paragraphs.map(p => (
                                    <p>{p}</p>
                                ))}
                            </div>
                        )
                    )
                } -->
                <!-- <div>
                    <h2 class="text-2xl font-bold mb-2">Story</h2>
                    <p class="mb-1">
                        This piece is part of a series of 3, all created
                        using code. I use JavaScript and a library called <a
                            href="https://p5js.org/"
                            class="font-bold underline hover:text-gray-600 transition-colors duration-300"
                            target="_blank">p5.js</a
                        >
                        to guide the computer in generating the design. Think of
                        it as a creative conversation between me and the machine
                        - I set the rules, and the computer brings them to life.
                    </p>
                    <p>
                        Each artwork in the series features overlapping circles,
                        but what makes them unique is how the circles grow in
                        size and how the background hue warms up as the series
                        progresses. The transparency of the circles creates a
                        stunning blend of colors where they overlap, giving the
                        artwork depth and movement. It's like a glowing nebula
                        or a living organism-dynamic, vibrant, and full of life.
                    </p>
                </div> -->
                <div>
                    <h2 class="text-2xl font-bold mb-2">
                        Best printing quality
                    </h2>
                    <p>
                        To ensure your artwork is as stunning as possible, I've
                        partnered with
                        <a
                            href="https://uk.trustpilot.com/review/www.point101.com"
                            class="font-bold underline text-blue-700 hover:text-blue-500 transition-colors duration-300"
                            target="_blank">Point101</a
                        >, London's top printing service, known for their
                        exceptional quality and customer satisfaction. They use
                        giclée printing, a premium technique that sprays ink
                        onto the paper to achieve vivid, lifelike colors and
                        incredible detail. This means your print will capture
                        every nuance of the original artwork, bringing its bold,
                        vibrant energy into your home.
                    </p>
                </div>
                <div>
                    <h2 class="text-2xl font-bold mb-2">
                        Premium paper quality
                    </h2>
                    <p>
                        Your print will be on <span class="font-bold"
                            >Hahnemühle Photo Rag 308gsm</span
                        >, a museum-grade, acid-free cotton paper that's
                        renowned for its texture, vibrancy, and longevity. This
                        isn't just any paper - it's the kind used in galleries
                        and museums, ensuring your artwork stays vibrant for up
                        to 400 years. It's an investment in art that will last
                        generations.
                    </p>
                </div>
                <div>
                    <h2 class="text-2xl font-bold mb-2">Framing advice</h2>
                    <p class="mb-1">
                        I recommend a <span class="font-bold"
                            >simple white frame (50x70cm)</span
                        > with a frame width no wider than 20mm. This clean style
                        lets the artwork shine, and the print fits straight into
                        the frame - no extra matting needed. If you're buying this
                        artwork alone (not as part of the series), you can add a
                        5cm mount and use a larger frame (60x80cm) for a bold, eye-catching
                        look.
                    </p>
                </div>
                <div>
                    <h2 class="text-2xl font-bold mb-2">Free shipping</h2>
                    <p>
                        I want your artwork to arrive in perfect condition, so I
                        offer free shipping with top-quality packaging to
                        protect it during transit. Your print will arrive at
                        your doorstep in about 1 week, ready to bring color and
                        life to your space.
                    </p>
                </div>
                <!-- <div>
                    <h2 class="text-2xl font-bold mb-2">No Custom Charges</h2>
                    <p>
                        With production facilities in the UK, USA, and Germany,
                        there are no custom charges for orders to the UK, EU, or
                        US. For other regions, please contact me directly for
                        details.
                    </p>
                </div> -->
                <div>
                    <h2 class="text-2xl font-bold mb-2">
                        {
                            formatCurrency({
                                value: product.default_price.currency_options[
                                    currency
                                ].unit_amount,
                                currency,
                            })
                        }
                    </h2>
                    <p>Apply promotion codes in the cart page.</p>
                </div>
                <Button
                    id="submit-button"
                    buttonText="Add to cart"
                    errorMessage="There was an error creating your session. Please try again."
                />
            </div>
        </form>
    </div>
</BaseLayout>

<script>
    import type { Currency } from "@utils/stripe"
    import { addToCart } from "@scripts/cart"

    document.addEventListener("astro:page-load", async () => {
        const priceForm = document.querySelector("#price-form") as HTMLElement

        if (!priceForm) return

        const button = priceForm.querySelector(
            "#submit-button"
        ) as HTMLButtonElement

        const spinner = priceForm.querySelector("#loading-spinner")!
        const errorMessage = priceForm.querySelector("#error-message")!

        spinner.classList.add("hidden")
        button.disabled = false

        priceForm.addEventListener("submit", async e => {
            e.preventDefault()

            button.disabled = true
            spinner.classList.remove("hidden")
            errorMessage.classList.add("hidden")

            const priceIdElement = document.querySelector(
                "#price-id"
            ) as HTMLInputElement

            const priceId = priceIdElement.value
            const currency = priceIdElement.dataset.currency as Currency

            const response = await addToCart({ priceId, currency })

            if (response?.error) {
                errorMessage.classList.remove("hidden")
                spinner.classList.add("hidden")
                button.disabled = false
                return
            }
        })
    })
</script>
