---
import { Image } from "astro:assets"
import BaseLayout from "../../../layouts/BaseLayout.astro"
import { getActivePrices, type StripePrice } from "../../../utils/stripe"

export async function getStaticPaths() {
    const prices = await getActivePrices()

    return prices.map(price => ({
        params: {
            slug: price.product.metadata.slug,
            category: price.product.metadata.category,
        },
        props: { price },
    }))
}

const { price } = Astro.props

const sizeToDescription: Record<
    StripePrice["product"]["metadata"]["size"],
    string
> = {
    A3: "A3 (297 x 420 mm)",
    A2: "A2 (420 x 594 mm)",
    A1: "A1 (594 x 841 mm)",
}
---

<BaseLayout
    title={`${price.product.metadata.displayName} | Giclée Fine Art Print | Andrea Diotallevi Art`}
    description={price.product.description}
    image={price.product.images[0]}
    type="product"
    amount={(price.unit_amount / 100).toFixed(2)}
>
    <div
        class="flex flex-col md:flex-row items-center md:items-start p-4 max-w-screen-xl mx-auto"
    >
        <div class="w-full md:w-1/2 mb-6 md:mb-0 md:mr-8">
            <div class="mb-4">
                <Image
                    quality={100}
                    inferSize={true}
                    src={price.product.images[0]}
                    alt={price.product.name}
                    class="w-full h-auto rounded-lg"
                />
            </div>
            <div class="flex space-x-4 overflow-x-auto">
                {
                    price.product.images.map((img, index) => (
                        <Image
                            quality={100}
                            inferSize={true}
                            src={img}
                            alt={`Thumbnail ${index + 1}`}
                            class="w-20 h-auto rounded-lg cursor-pointer"
                        />
                    ))
                }
            </div>
        </div>

        <div class="w-full md:w-1/2">
            <h1 class="text-4xl font-bold mb-4">
                {price.product.metadata.displayName}
            </h1>

            <div class="space-y-6">
                <div>
                    <h2 class="text-2xl font-semibold mb-2">Size</h2>
                    <select
                        id="size"
                        name="size"
                        class="w-full px-3 py-2 border border-gray-800 rounded-md mb-2"
                    >
                        {
                            [price.product.metadata.size].map(size => (
                                <option value={price.product.metadata.size}>
                                    {`${
                                        sizeToDescription[
                                            price.product.metadata.size
                                        ]
                                    } - £${(price.unit_amount / 100).toFixed(2)}`}
                                </option>
                            ))
                        }
                    </select>
                    <p>The image is printed full bleed with no border.</p>
                </div>
                <div>
                    <h2 class="text-2xl font-semibold mb-2">
                        100% cotton paper
                    </h2>
                    <p>
                        The artwork is printed on a white cotton paper called
                        Hahnemühle photo rag 308gsm. With its characteristic,
                        wonderfully soft feel, it boasts a lightly defined felt
                        structure, lending each artwork a three-dimensional
                        appearance and impressive pictorial depth.
                    </p>
                </div>
                <div>
                    <h2 class="text-2xl font-semibold mb-2">
                        Premium print quality
                    </h2>
                    <p>
                        The print is crafted using premium, pigment-based inks
                        that are fade-resistant and can endure for up to 200
                        years. This technique, called Giclée, makes the print
                        stand apart with its extremely high level of quality,
                        longevity and value compared to a standard print.
                    </p>
                </div>
                <div>
                    <h2 class="text-2xl font-semibold mb-2">Free shipping</h2>
                    <p>
                        Shipping is handled by theprintspace in London through
                        First Class Tracked Mail (typically 6-10 days). This is
                        an extremely more secure option than regular post for
                        sending art prints.
                    </p>
                </div>
                <div>
                    <h2 class="text-2xl font-semibold mb-2">
                        No custom charges for UK-EU-USA orders
                    </h2>
                    <p>
                        With production in the UK, USA & Germany, theprintspace
                        guarantees no extra customs charges on UK-EU-USA orders.
                    </p>
                </div>
                <div>
                    <h2 class="text-2xl font-semibold mb-2">
                        £{(price.unit_amount / 100).toFixed(2)}
                    </h2>
                    <p>Apply promotion codes at checkout.</p>
                </div>
                <!-- <div>
                    <h2 class="text-2xl font-semibold mb-2">Product Details</h2>
                    <p>Here are some details about the product...</p>
                </div>
                <div>
                    <h2 class="text-2xl font-semibold mb-2">
                        Shipping Information
                    </h2>
                    <p>Details about shipping go here...</p>
                </div>
                <div>
                    <h2 class="text-2xl font-semibold mb-2">
                        Returns & Refunds
                    </h2>
                    <p>Return and refund policy information goes here...</p>
                </div>
                <div>
                    <h2 class="text-2xl font-semibold mb-2">
                        Care Instructions
                    </h2>
                    <p>How to care for the product goes here...</p>
                </div> -->
            </div>

            <button
                id="continue-to-checkout"
                data-price-id={price.id}
                class="mt-6 px-6 py-3 text-white bg-black rounded-lg w-full hover:bg-gray-800"
            >
                Continue to checkout
            </button>
        </div>
    </div>
</BaseLayout>

<script>
    import { sendGA4BeginCheckoutEvent } from "../../../utils/ga4"
    import { createCheckoutSession } from "../../../utils/stripe"

    const button = document.querySelector(
        "#continue-to-checkout"
    ) as HTMLElement

    const priceId = button.dataset.priceId

    button.addEventListener("click", async e => {
        e.preventDefault()

        const data = await createCheckoutSession({
            line_items: [
                {
                    price: priceId,
                    quantity: 1,
                },
            ],
            success_url: `${window.location.origin}/shop/checkout/success`,
        })

        if (!data) {
            console.error("Failed to create session")
            return
        }

        sendGA4BeginCheckoutEvent({
            session: data.session,
        })

        window.location.href = `/shop/checkout?clientSecret=${data?.session.client_secret}`
    })
</script>
