---
import BackToLink from "@components/BackToLink.astro"
import BaseLayout from "@layouts/BaseLayout.astro"
import Carousel from "@components/Carousel.astro"

import { getCollection } from "astro:content"
import { transformImage } from "@utils/cloudinary"

export async function getStaticPaths() {
    const artworks = await getCollection("artworks")

    return artworks.map(artwork => ({
        params: {
            slug: artwork.data.slug,
        },
        props: {
            artwork: {
                ...artwork.data,
                images: artwork.data.images.map(image => transformImage(image)),
            },
        },
    }))
}

const { artwork } = Astro.props

 
---

<BaseLayout
    title={`${artwork.name} | Andrea Diotallevi Art`}
    description={artwork.description}
    image={artwork.images[0]}
    newsletter={false}
>
    <div
        class="flex flex-col md:flex-row items-center md:items-start px-4 py-8 pt-0 md:pt-8 max-w-screen-xl mx-auto text-gray-800"
    >
        <div class="w-full md:w-1/2 mb-6 md:mb-0 md:mr-8">
            <div class="md:hidden mb-4">
                <BackToLink href="/portfolio" text="Back to portfolio" />
            </div>
            <h1 class="text-2xl font-bold mb-4 md:hidden">
                {artwork.name}
            </h1>
            <Carousel images={artwork.images} width={750} height={750} />
        </div>

        <div class="w-full md:w-1/2">
            <h1 class="text-5xl font-bold mb-6 hidden md:block">
                {artwork.name}
            </h1>

            <div class="space-y-6">
                <div>
                    <!-- <h2 class="text-2xl font-bold mb-2">Description</h2> -->
                    <p>{artwork.description}</p>
                </div>
            </div>
        </div>
    </div>
</BaseLayout>
